// unscoped params
workDir = "work"
outputDir = "output"

// workflow params
workflow.output.mode = 'copy'

params {
    // general
    sample_sheet = "/projects/molonc/roth_lab_scratch/dma/SyS_analysis/batch2_sample_sheet.csv"
}

process {
    withName: "SIGNAC.*" {
        container = 'docker://dinguwu/signac:v0.3'
        cpus = 8
        memory = 16.GB
        time = '12h'
    }
    withName: SIGNAC_BULK {
        memory = 32.GB
    }
    withName: SIGNAC_BULK3 {
        memory = 128.GB
    }
    withName: SIGNAC_AGGRE {
        memory = 128.GB
    }
}

profiles {
    local {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'general'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
}
