// unscoped params
workDir = "work"
outputDir = "output"

// workflow params
workflow.output.mode = 'copy'

params {
    // general
    sample_sheet = "/projects/molonc/scratch/dma/TGCT_atac/data/TGCT_atac_samplesheet.csv"
    sc_params = "/projects/molonc/scratch/dma/TGCT_atac/data/TGCT_atac_params.csv"

    single_cell = true
    qc_threshold = true
    pseudobulk = false
}

process {
    withName: "SIGNAC.*" {
        container = 'docker://dinguwu/signac:v0.3'
        cpus = 8
        memory = 16.GB
        time = 12.h
    }
    withName: SIGNAC_BULK {
        memory = 64.GB
    }
    withName: SIGNAC_BULK3 {
        memory = 256.GB
    }
    withName: SIGNAC_AGGRE {
        memory = 256.GB
    }
}

profiles {
    local {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'general'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
}
